/*********************************************************************/
/*                  Hoja de Estilo de halloween.html                 */
/*                  autor: Miguel Ángel Bonilla Fernández            */
/*                  version:1.0                                      */
/*                  fecha: Noviembre 2023                            */
/*                  comentario: ejercicio para portfolio             */
/*********************************************************************/

/****************FONTS**************/
@font-face {
    src: url(../font/CircusWorldDemoRegular.ttf);
    font-family: circus;
}
@font-face {
    src: url(../font/MarkaziText-Regular.ttf);
    font-family: kid;
}
/**********************************/

/****************GENERAL STYLE**************/
body {
    background-color: #090909;
}
#scenario{
    background-image:url(../img/background.jpg);
    width: 2790px;
    height: 1080px;
    margin:auto;
    position:relative;
    top: 50px;
}
/*******************************************/

/*******************OBJECTS****************/
#pan {
    width: 130px;
    height:525px;
    position:absolute;
    top:250px;
    left:2650px;
}
#bicycle {
    width: 175px;
    height:60px;
    position:absolute;
    top:420px;
    left:100px;
}
#carriage {
    width: 300px;
    height: 400px;
    position: absolute;
    top: 150px;
    left: 375px;
}
#icecreamcurtain {
    width: 250px;
    height: 275px;
    position: absolute;
    top: 400px;
    left: 1110px;
}
#monkey {
    width: 215px;
    height: 275px;
    position: absolute;
    top: 400px;
    left: 1790px;
}
/*****************************************/

/*******************IMAGES****************/
#ennardjumpscare {
    width: 2000px;
    height: 1075px;
    position: absolute;
    top: 5px;
    left: 400px;
    visibility: hidden;
}
#puppetjumpscare {
    width: 2000px;
    height: 1075px;
    position: absolute;
    top: 5px;
    left: 400px;
    visibility: hidden;
}
#circusbabyjumpscare {
    width: 2000px;
    height: 1075px;
    position: absolute;
    top: 5px;
    left: 400px;
    visibility: hidden;
}
/*****************************************/

/******************TEXT******************/
#initialtext{
    width: 1800px;
    height: 200px;
    top: 1150px;
    left: 500px;
    position: absolute;
    color: white;
    font-size: 3em;
    text-align: center;
    font-family: circus;
}
.kid{
    width: 2200px;
    height: 200px;
    top: 1050px;
    left: 300px;
    position: absolute;
    font-size: 4em;
    text-align: center;
    font-family: kid;
    opacity: 0;
    visibility: hidden;
    animation-name: kiddialogue;
}
/*****************************************/

/********************ANIMATIONS****************/
@keyframes sinister {
    0%{
        font-size:2em;
    }
    50%{
        font-size:4em
    }
    100%{
        font-size:2em;
    }
}
@keyframes kiddialogue {
    0% { color: rgb(18, 130, 0); font-size: 5em;opacity: 1;}
    100% { color: rgb(47, 255, 0); font-size: 4em; opacity:1;visibility: hidden; }
}

#initialtext{
    animation: sinister;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
#kid1 {
    animation-duration: 7s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 0s;
}
#kid2 {
    animation-duration: 7s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 7s; 
}
#kid3 {
    animation-duration: 7s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 14s; 
}
#kid4 {
    animation-duration: 7s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 21s; 
}
#kid5 {
    animation-duration: 7s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 28s; 
}