/*********************************************************************/
/*                  Hoja de Estilo de pulpo_gallega.html            */
/*                  autor: Miguel Ángel Bonilla Fernández            */
/*                  version:1.0                                      */
/*                  fecha: Octubre 2023                              */
/*                  comentario: ejercicio para portfolio             */
/*********************************************************************/

/*1.- Fuentes seleecionadas*/
@font-face {
    font-family: titulos;
    src: url(../fonts/Lemodis\ Display.otf);
}
@font-face {
    font-family: texto;
    src: url(../fonts/Now-Regular.otf);
}

/* 2.- Selector del wildcard si lo hay*/
*{
    box-sizing: border-box; /*Indica que el width de cada box será contando el borde hacia dentro*/
}

/*3.- Estructura del layout general*/
body{
    background-image: url(../img/backgroundpattern.png);
    font-family: texto;
    text-align: justify;
    font-size: 1.2em;
    
}
#wrapper {
    background-color:#d0c3d8;
    width: 80vw;
    margin: auto;
    padding:3%;
    
}
h1,h2{
    font-family: titulos;
    text-align: center;
    width: 80%;
    background-color:white;
    color:#7b2da8;
    border-bottom: 2px solid;
    border-right:  2px solid;
    box-shadow: 
    5px 5px 10px black, 
    -5px 5px 10px gray,
    5px -5px 10px gray,
    -5px -5px 10px gray;
    margin:auto;
    padding:2px;
    margin-bottom:20px;
;
}
h1{
    font-size:3em;
    text-shadow:2px 2px 2px grey, /*efecto alo*/


}
h2{
    font-size:2em;
}

blockquote{
    border-left: 6px solid #7b2da8;
    padding: 5px;
    background-color: white;
    text-align: justify;
}

#pulpo{
    width: 55%;
    display: block;
    margin:auto;
    border: 4px solid #7b2da8;
    border-radius: 15%;
}

#pulpo2{
    width: 21%;
    float: right;
    border: 4px solid #7b2da8;
    display: block;
    margin:auto;
}

dt{
    font-weight: bold;
}

dl{
    text-align: left;
}

#nutricional{
    width: 32%;
    float: right;
    border: 4px solid #7b2da8;
}

@media only screen and (width >= 1920px) { /*corte para pantalla 2k*/
    #pulpo2 {
        width: 15.5%;
        display: block;
        margin:auto;
    }

    #nutricional{
        width: 26%;
        float: right;
        border: 4px solid #7b2da8;
    }
}

@media only screen and (width <= 900px) { /*corte para un tablet*/
    #wrapper { width: 90%; }
    #wrapper2 { width: 70%; }
    h1, h2 { width: 100%; }
    h1 { font-size: 1.6em; }
    h2 { font-size: 1.6em; }
    body {font-size: 1.4em;}

    #pulpo{
        width: 65%
    }

    #pulpo2 {
        width: 30%;
        margin:auto;
    }

    #nutricional{
        width: 40%;
        float: right;
        border: 4px solid #7b2da8;
    }
}

@media only screen and (width <= 600px) { /*corte para un móvil*/
    h1 { font-size: 1.4em; }
    h2 { font-size: 1.4em; }
    h1, h2 { width: 60%; }
    #wrapper { width: 100%; }
    body {font-size: 1.2em;}

    #pulpo{
        width: 80%
    }

    #pulpo2 {
        width: 30%;
        margin:auto;
    }

    #nutricional{
        width: 45%;
        float: right;
        border: 4px solid #7b2da8;
    }
}

/*4.- Section a section si las hubiera en detalle*/